<!-- Pignose Calender -->
<link href="../plugins/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet">
<!-- Stylesheet -->
<link href="../css/style.css" rel="stylesheet">
<!-- Custom Stylesheet -->
<link href="../css/custom.css" rel="stylesheet">

<div class="row cat-feed-info-area">
    <div class="col-lg-3 col-sm-12">
        <a href="#" class="btn-cat-feed-creat">
            <div class="card cat-feed-info btn-feed-creat">
                급식소 만들기
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-sm-12">
        <div class="card cat-feed-info">
            <a href="#" class="btn-cat-feed-sch">
                <%= image_tag("cats/cat01.jpg", alt: "banner12", class: "img-fluid") %>
            </a>
            <div class="cat-feed-info-des">
                <div class="text-center cat-feed-info-title">
                    <h5 class="mt-3 mb-3">
                        <strong>치즈네</strong>
                    </h5>
                </div>
                <div class="row">
                    <div class="col-6 border-right">
                        <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                            <h4 class="m-1">운영중</h4>
                            <p class="m-0">상태</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                            <h4 class="m-1">비공개</h4>
                            <p class="m-0">공개여부</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!--<script src="plugins/common/common.min.js"></script>-->
<!--<script src="js/custom.min.js"></script>-->
<!--<script src="js/settings.js"></script>-->
<!--<script src="js/gleek.js"></script>-->
<!--<script src="js/styleSwitcher.js"></script>-->

<!-- Circle progress -->
<!--<script src="./plugins/circle-progress/circle-progress.min.js"></script>-->

<!-- Pignose Calender -->
<!--<script src="./plugins/moment/moment.min.js"></script>-->
<!--<script src="./plugins/pg-calendar/js/pignose.calendar.min.js"></script>-->

<!--<script src="./js/dashboard/dashboard-1.js"></script>-->